<form
    (submit)="$event.preventDefault()"
    style="display: flex"
    *ngIf="displayComponent"
>
    <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput value="{{ salesman.id }}" readonly="true" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput value="{{ salesman.name }}" readonly="true" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Calculated Bonus</mat-label>
        <input
            matInput
            value="{{ salesman.calculatedBonus }}"
            readonly="true"
        />
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Remarks</mat-label>
        <input matInput (keyup.enter)="onEnter($event.target.value)" />
    </mat-form-field>
</form>
